@media screen and (max-width: 767px) {
    .calculator-container {
        padding: 1.5rem 0;
    }

    /* .calculator-circle-input-lines-container svg {
        width: 280px;
    } */

    .calculator-circle-container {
        padding-top: 1.75rem;
    }

    .calculator-circle-inner-container {
        width: auto;
        height: auto;
    }

    .calculator-circle-inner-container {
        width: 16rem;
        height: 16rem;
    }

    .calculator-input-scale-value.left {
        left: -.8rem;
    }

    .calculator-input-scale-value.right {
        right: -2.25rem;
    }

    .calculator-input-scale-value {
        bottom: -1rem;
    }
}

@media screen and (max-width: 480px) {
    .calculator-circle-container {
        padding-top: 1.25rem;
    }

    .calculator-circle-inner-container {
        width: 13.5rem;
        height: 13.5rem;
    }

    .calculator-circle-inner-container .relative {
        width: 100%;
        height: 100%;
    }
}

/*
*   Switch Button
*/
.calculator-switch-container .calculator-switch-circle {
    right: calc(100% - .25rem - .875rem);
}

.calculator-switch-container.anually-on .calculator-switch-circle {
    right: .25rem;
}


/*
*   Price Buttons
*/
.button-default__text.calculator-btn-text {
    --color: var(--text-color--text-primary);
}

.calculator-btn-active {
    background-color: var(--background-color--background-primary) !important;
    color: var(--text-color--text-secondary);

    .button-default__text {
        --color: var(--text-color--text-secondary);
    }
}

.calculator-btn-text-outer.button-default__container {
    overflow: visible;
}


/*
*   Price Output MONTH/YEAR
*/
/* .calculator-switch-container.anually-on + .calculator-switch-container .price-per-month {
    opacity: 0;
    pointer-events: none;
}

.calculator-switch-container.anually-on + .calculator-switch-container .price-per-year {
    opacity: 1;
    pointer-events: all;
} */

.calculator-switch-container.anually-on + .calculator-switch-container .p-monthly-billing {
    opacity: 0;
    pointer-events: none;
}

.calculator-switch-container.anually-on + .calculator-switch-container .p-yearly-billing {
    opacity: 1;
    pointer-events: all;
}



/* #dot {
    cursor: grab;
} */

#filledArc {
    cursor: pointer;
}

.calc_content_output_list.show {
    opacity: 1;
}