/*
*   Toast Message
*/

.months_set_msg_container_outer {
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
}

.months_set_msg_container_outer.show[display-ready="5"] {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}