/*
*   Pricing Table
*/
.pr_tb_wrapper {
    max-height: 100%;
    transition: opacity .25s ease, max-height .25s;
    /* transition-delay: 0s, .05s; */
}

.pr_tb_wrapper.hidden {
    opacity: 0;
    max-height: 0;
    min-height: unset;
    overflow: hidden !important;

    .sticky {
        position: static;
    }
}

.pr_bill_year_wrapper {
    top: 0;
    left: 0;
}

.pr_bill_month_wrapper {
    opacity: .5;
    z-index: 1;
}

.pr_bill_year_wrapper {
    opacity: 0;
    z-index: -1;
}

.calculator-switch-container.annually-on + div .pricing_calculator_content_wrapper_inner {

    .pr_bill_month_wrapper {
        opacity: 0;
        z-index: -1;
    }

    .pr_bill_year_wrapper {
        opacity: .5;
        z-index: 1;
    }
}

.calculator-switch-container.annually-on .calculator-switch-circle {
    right: .25rem;
}

.llm_mod .pr_tb_content_rows .pr_tb_content_rows_val:last-of-type .divider {
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .pr_tb_head.desktop {
        padding-right: 0;
        gap: 0;
    }

    .pr_tb_content_rows_cat_inner {
        white-space: nowrap;
        min-width: 11rem;
    }
}

@media screen and (min-width: 768px) {
    .pr_tb_content .sticky {
        top: 0rem;
        transition: top 0.25s, background-color .25s;
    }

    .showing-navbar .pr_tb_content .sticky {
        top: 4.875rem;
    }

    .pr_tb_head_wrapper_desktop.sticky-bg {
        background-color: var(--base-color-brand--dark);
    }
}

@media screen and (max-width: 767px) {

    .sticky {
        order: 1;
        top: unset;
        bottom: 0;
    }

    .pr_tb_head_pl_name.active .pr_tb_head_pl_name_bg {
        opacity: 1;
    }

    /* table cols and "get plan" action button must be hidden by default - unless filter button is clicked */
    .pr_tb_content_rows.col {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .pr_tb_head_mobile_btn_wrapper {
        opacity: 0;
        z-index: -1;
    }

    .pr_tb_head_mobile_btn_wrapper:not(:nth-child(1)) {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pr_tb_content_rows.col.show {
        opacity: 1;
    }

    .pr_tb_head_mobile_btn_wrapper.show {
        opacity: 1;
    }
    
    .pr_tb_content_rows_col.row .pr_tb_content_rows.col:not(:nth-child(1)) {
        position: absolute;
        left: 0;
        top: 0;
    }

    .testimonials_wrapper {
        .grid_3x2_cell:nth-child(4),
        .grid_3x2_cell:nth-child(5),
        .grid_3x2_cell:nth-child(6) {
            display: none;
        }
    }
}

@media screen and (max-width: 350px) {
    .pr_tb_head.mobile {
        padding-left: 0rem;
        padding-right: 0rem;
        gap: .25rem;
    }
}